name: Teste MySQL na db-math

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Servidor a testar'
        default: 'db-math.mysql.database.azure.com'
        required: true
        type: string
      query:
        description: 'Query a testar'
        default: 'create.sql'
        required: true
        type: string

jobs:
  test-mysql:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Verificar arquivos
      run: ls -l

    - name: Executar query no MySQL
      run: |
        mysql -h ${{ github.event.inputs.name }} \
              -u${{ secrets.USER }} \
              -p${{ secrets.PASS }} \
              --ssl-mode=REQUIRED \
              --connect-timeout=10 \
              --verbose \
              < ${{ github.event.inputs.query }}
